@import "../utils/variable";

.logoohmyfood {
    padding: 20px;
    text-align: center;
    margin: auto;
    display: flex;
}

.geo {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

input{
    border: 0;
    font-size: 20px;
}